.banner {
  background-image: url('../public/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.button {
  background: linear-gradient(
    55deg,
    rgba(146, 140, 243, 1) 0%,
    rgba(96, 126, 241, 1) 100%
  );
}
.HomeBottom{
  background: url('../public/images/shutterstock_2132170515 1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.solution-bottom{
  background:  linear-gradient(135deg, rgba(96,201,226,0.7791491596638656) 0%, rgba(1,149,184,1) 100%);
}

/* modal animation */
.modal {
  top: 25%;
  animation: drop 0.5s ease forwards;
}
@keyframes drop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
